.payment-confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.payment-confirmation-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

.status-authorized {
  background-color: #e8f5e9; /* Light green background */
  color: black; /* Black text color */
}

.status-failed {
  background-color: #ffebee; /* Light red background */
  color: black; /* Black text color */
}

.status-authorized .fa-check-circle {
  color: #4caf50; /* Green color for the check icon */
  font-size: 36px; /* Larger size for the check icon */
  margin-right: 10px;
}

.status-failed .fa-times-circle {
  color: #f44336; /* Red color for the cross icon */
  font-size: 36px; /* Larger size for the cross icon */
  margin-right: 10px;
}

.payment-confirmation-body {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
}

.payment-confirmation-left,
.payment-confirmation-right {
  width: 45%;
  padding: 10px;
  border-radius: 8px;
}

.payment-confirmation-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0; /* Same color as the background color of the website */
}

.payment-confirmation-right {
  display: flex;
  flex-direction: column;
}

.payment-confirmation-amount {
  font-size: 36px;
  font-weight: lighter;
  margin-top: 10px;
  color: #333;
}

.payment-confirmation-message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.payment-confirmation-details {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
  height: 400px; /* Make the details div taller */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add space between the details and the button */
}

.payment-confirmation-details p {
  margin: 5px 0;
  display: flex;
  justify-content: space-between; /* Separate name and value */
}

.payment-confirmation-details span {
  color: grey; /* Greyish color for detail names */
  font-weight: bold;
}

.payment-confirmation-details-value {
  color: black; /* Black color for details */
}

.payment-confirmation-loading {
  font-size: 20px;
  font-weight: bold;
}

.payment-confirmation-retry {
  font-size: 14px;
  color: #333;
}

.payment-confirmation-retry a {
  color: #007bff;
  text-decoration: none;
}

.payment-confirmation-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  align-self: center; /* Center the button */
  align-items: center;
  justify-content: center;
  width: 100%;
}

.payment-confirmation-button:hover {
  background-color: #0056b3;
}

.purchase-details-title {
  margin-bottom: 10px;
  padding: 10px;
  color: #333; /* Dark grey color */
  border-radius: 5px;
  text-align: left; /* Align title to the left */
  display: flex;
  font-size: 24px;
  width: 100%;
  max-width: 800px;
  background-color: #f0f0f0; /* Same color as the background color of the website */
}
